body {
    font-family: sans-serif;
    margin: 30px;
  }
  
  .task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
  }
  
  input,
  textarea,
  select,
  button {
    padding: 8px;
    font-size: 16px;
  }
  
  li {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    list-style: none;
  }